[Desktop Entry]
Name=CD Player
Comment=Play and extract CDs
Categories=GNOME;Application;AudioVideo;
Encoding=UTF-8
Exec=goobox
Icon=goobox.png
StartupNotify=true
Terminal=false
Type=Application
